@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
button:hover,
button:active,
button:focus {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: none;
}

:root {
  --body-bg: #FFFFFF;
  --body-color: #2A2A2A;
  --footer-bg: #F6F7F8;
  --footer-color: #808080;
  --nav-bg: rgba(255, 255, 255, 0.97);
  --step-active: #2A2A2A;
  --step-unselected: #AFB1BD;
  --step-checked: #FFFFFF;
  --step-checked-bg: #333333;
  --step-line-active: #000000;
  --step-line-unselected: #F0F0F5;
  --form-input-label: #808080;
  --form-input-content: #999999;
  --form-input-outline: #4A4A4A;
  --form-input-triangle: #2A2A2A;
  --form-shipment-color-main: #000000;
  --form-shipment-color-secondary: #000000;
  --form-shipment-outline: #F0F0F5;
  --form-shipment-btn: #222222;
  --form-shipment-btn-bg: #FFFFFF;
  --form-shipment-checked-btn: #2A2A2A;
  --btn-previous: #000000;
  --btn-next: #FFFFFF;
  --btn-next-bg: #F67599;
  --divider: #E6E6EB;
  --cart-bg: #FFFFFF;
  --cart-outline: #F0F0F5;
  --cart-btn-color: #000000;
  --cart-btn-bg: #F0F0F5;
  --cart-text-light: #2A2A2A;
  --cart-text-bold: #000000;
  --img-logo: url("../../images/logo@3x.png");
  --icon-search: url("../../images/icon-search@3x.png");
  --icon-cart: url("../../images/icon-cart@3x.png");
  --icon-mode: url("../../images/icon-mode@3x.png");
  --hamburger: url("../../images/hamburger@3x.png");
  --social-fb: url("../../images/social-fb@3x.png");
  --social-ig: url("../../images/social-ig@3x.png");
  --social-wa: url("../../images/social-wa@3x.png");
}

[data-theme=dark] {
  --body-bg: #121212;
  --body-color: #FFFFFF;
  --footer-bg: #333333;
  --footer-color: rgba(255, 255, 255, 0.6);
  --nav-bg: rgba(18, 18, 18, 0.97);
  --step-checked: #FFFFFF;
  --step-checked-bg: #333333;
  --step-unselected: rgba(255, 255, 255, 0.4);
  --step-line: #FFFFFF;
  --step-active: #FFFFFF;
  --step-unselected: rgba(255, 255, 255, 0.4);
  --step-checked: #FFFFFF;
  --step-checked-bg: #333333;
  --step-line-active: #FFFFFF;
  --step-line-unselected: rgba(240, 240, 245, 0.4);
  --form-input-label: rgba(255, 255, 255, 0.4);
  --form-input-content: rgba(255, 255, 255, 0.3);
  --form-input-outline: #5E5E5E;
  --form-input-triangle: #5E5E5E;
  --form-shipment-color-main: #FFFFFF;
  --form-shipment-color-secondary: rgba(255, 255, 255, 0.4);
  --form-shipment-outline: #5E5E5E;
  --form-shipment-btn: #333333;
  --form-shipment-btn-bg: #333333;
  --form-shipment-checked-btn: #333333;
  --btn-previous: #FFFFFF;
  --btn-next: #FFFFFF;
  --btn-next-bg: #F67599;
  --divider: rgba(255, 255, 255, 0.2);
  --cart-bg: #383838;
  --cart-outline: rgba(255, 255, 255, 0.2);
  --cart-btn-color: #333333;
  --cart-btn-bg: #808080;
  --cart-text-light: #FFFFFF;
  --cart-text-bold: #FFFFFF;
  --img-logo: url("../../images/d-logo@3x.png");
  --icon-search: url("../../images/d-icon-search@3x.png");
  --icon-cart: url("../../images/d-icon-cart@3x.png");
  --icon-mode: url("../../images/d-icon-mode@3x.png");
  --hamburger: url("../../images/d-hamburger@3x.png");
  --social-fb: url("../../images/d-social-fb@3x.png");
  --social-ig: url("../../images/d-social-ig@3x.png");
  --social-wa: url("../../images/d-social-wa@3x.png");
}

/* ===== general ===== */
body {
  font-family: "Noto Sans TC", sans-serif;
  color: var(--body-color);
  background: var(--body-bg);
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: Bold;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: Bold;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: Bold;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

/* ===== SASS ===== */
header .nav__brand {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart__item .item__info .item__detail .item__name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== scroll bar ===== */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar {
  padding-left: 6px;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* ===== basic settings ===== */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  height: calc(100vh - 56px);
  margin-top: 56px;
}
main .main__title {
  padding-top: 16px;
  font-size: 24px;
  width: 100%;
}
main .main__content__left {
  margin-top: 24px;
}
main .main__content__left form {
  margin-top: 24px;
  position: relative;
}
main .main__content__right {
  margin: 32px 0;
}

footer {
  display: none;
}

/* ===== media query ===== */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    padding: 0;
    max-width: 1110px;
  }

  main {
    height: calc(100vh - 60px);
    margin-top: 60px;
  }
  main .main__title {
    padding-top: 80px;
    font-size: 32px;
  }
  main .main__content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2vw;
  }
  main .main__content__left, main .main__content__right {
    margin-top: 0;
    margin-bottom: 0;
  }
  main .main__content__left {
    grid-column: 1/7;
  }
  main .main__content__left form {
    margin-top: 64px;
  }
  main .main__content__left form .form__content {
    /* right_content 減 stepper 減 margin-top 減 form_btn */
    height: 332px;
  }
  main .main__content__right {
    grid-column: 8/13;
  }

  footer {
    display: block;
  }
}
.d-none {
  display: none;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 56px;
  width: 100%;
  background: var(--body-bg);
}
header .nav__brand {
  display: block;
  width: 135.86px;
  height: 24px;
  background: var(--img-logo);
  background-size: contain;
  position: absolute;
  z-index: 1;
}
header .nav__toggle__label {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--hamburger);
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .nav__toggle {
  display: none;
  position: absolute;
}
header .nav__toggle:checked ~ nav {
  transform: scale(1, 1);
}
header .nav__toggle:checked ~ nav li {
  transition: opacity 0.2s ease-in 0.2s;
  opacity: 1;
}
header .nav__toggle:checked ~ nav .nav__icons {
  transition: opacity 0.2s ease-in 0.2s;
  opacity: 1;
}
header nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  background: var(--nav-bg);
  /* toggle */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
}
header nav ul {
  margin: 0 auto;
}
header nav ul li {
  position: relative;
  height: 72px;
  line-height: 72px;
  opacity: 0;
}
header nav ul li::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 90%;
  height: 2px;
  background: rgba(42, 42, 42, 0.1);
}
header nav .nav__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 152px;
  height: 72px;
  opacity: 0;
}
header nav .nav__icons .nav__icon--search {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--icon-search);
  background-size: contain;
}
header nav .nav__icons .nav__icon--cart {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--icon-cart);
  background-size: contain;
}
header nav .nav__icons .nav__icon--mode {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--icon-mode);
  background-size: contain;
}

@media screen and (min-width: 376px) {
  header {
    height: 60px;
  }
  header .nav__brand {
    width: 169.83px;
    height: 30px;
  }
  header .nav__toggle__label {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 885px) {
  header .nav__toggle__label {
    display: none;
  }
  header nav {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul {
    display: flex;
    margin: 0;
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
  header nav ul li {
    height: 60px;
    line-height: 60px;
    opacity: 1;
  }
  header nav ul li::after {
    all: unset;
  }
  header nav .nav__icons {
    width: 12%;
    height: 24px;
    opacity: 1;
    margin: 0;
  }
}
.stepper {
  width: 100%;
  height: 32px;
  display: grid;
  grid-template-columns: 32px 1fr 32px 1fr 32px;
  grid-gap: 32px;
}
.stepper .step:nth-of-type(1) .step__circle::after {
  content: "1";
}
.stepper .step:nth-of-type(2) .step__circle::after {
  content: "2";
}
.stepper .step:nth-of-type(3) .step__circle::after {
  content: "3";
}
.stepper .step .step__circle {
  height: 32px;
  width: 32px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--step-unselected);
  border: 1px solid var(--step-unselected);
  border-radius: 50%;
}
.stepper .step .step__label {
  display: none;
  color: var(--step-unselected);
}
.stepper .step.checked .step__circle {
  color: var(--step-checked);
  background: var(--step-checked-bg);
  border: 1px solid var(--step-checked-bg);
}
.stepper .step.checked .step__circle::after {
  content: "✔";
}
.stepper .step.checked .step__label {
  color: var(--step-active);
}
.stepper .step.checked + .step__line {
  background: var(--step-line-active);
}
.stepper .step.active .step__circle {
  color: var(--step-active);
  border: 1px solid var(--step-active);
}
.stepper .step.active .step__label {
  color: var(--step-active);
}
.stepper .step.active .step__line {
  background: var(--step-line-active);
}
.stepper .step__line {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--step-line-unselected);
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .stepper {
    height: 24px;
  }
  .stepper .step .step__circle {
    height: 24px;
    width: 24px;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
  }
  .stepper .step__line {
    margin-top: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .stepper {
    grid-template-columns: 96px 1fr 96px 1fr 96px;
  }
  .stepper .step {
    display: flex;
    justify-content: space-between;
    width: 96px;
  }
  .stepper .step .step__label {
    display: initial;
  }
}
.form__part {
  /* shipping 選單樣式調整 */
  /* form row 排版 */
}
.form__part > * {
  margin-bottom: 24px;
}
.form__part > div {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* input 樣式調整 */
}
.form__part > div:last-of-type {
  margin-bottom: 0;
}
.form__part > div label {
  font-size: 12px;
  line-height: 16px;
  color: var(--form-input-label);
}
.form__part > div input, .form__part > div select {
  background-color: transparent;
  color: var(--form-input-content);
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-input-outline);
  border-radius: 4px;
  font-size: 12px;
  padding: 12px 16px;
}
.form__part > div input::placeholder {
  color: var(--form-input-content);
}
.form__part > div select {
  -webkit-appearance: none;
  cursor: pointer;
  color: var(--form-input-content);
}
.form__part > div select:valid {
  color: var(--body-color);
}
.form__part > div .select-wrapper {
  position: relative;
  z-index: 1;
}
.form__part > div .select-wrapper::after {
  content: "";
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--form-input-triangle) transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  z-index: -1;
}
.form__part .form__row--shipping {
  position: relative;
  border: 1px solid var(--form-shipment-outline);
  border-radius: 4px;
  flex-direction: row;
  justify-content: start;
}
.form__part .form__row--shipping input[type=radio] {
  -webkit-appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 20px;
  padding: 0;
  border: 1px solid var(--form-shipment-btn);
  border-radius: 50%;
  background: var(--form-shipment-btn-bg);
}
.form__part .form__row--shipping input[type=radio]:checked {
  box-shadow: inset 0 0 0 5px var(--form-shipment-checked-btn);
  background: var(--body-bg);
}
.form__part .form__row--shipping input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid var(--body-color);
  border-radius: 4px;
}
.form__part .form__row--shipping label {
  cursor: pointer;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  padding: 11px 0;
}
.form__part .form__row--shipping label .shipping__des {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__part .form__row--shipping label .shipping__des .shipping__subtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--form-shipment-color-main);
}
.form__part .form__row--shipping label .shipping__des .shipping__time {
  font-size: 12px;
  line-height: 16px;
  color: var(--form-shipment-color-secondary);
}
.form__part .form__row--shipping label .shipping__fee {
  font-size: 12px;
  line-height: 16px;
  color: var(--form-shipment-color-main);
}
.form__part:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-column-gap: 30px;
}
.form__part:nth-of-type(1) .form__title,
.form__part:nth-of-type(1) .form__row--phone,
.form__part:nth-of-type(1) .form__row--email,
.form__part:nth-of-type(1) .form__row--city,
.form__part:nth-of-type(1) .form__row--address {
  grid-column: 1/3;
}
.form__part:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
.form__part:nth-of-type(3) .form__row--payname,
.form__part:nth-of-type(3) .form__row--paycard {
  grid-column: 1/3;
}
.form__part.d-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .form__part:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
  }
  .form__part:nth-of-type(1) .form__title {
    grid-column: 1/7;
  }
  .form__part:nth-of-type(1) .form__row--gender,
.form__part:nth-of-type(1) .form__row--city {
    grid-column: 1/3;
  }
  .form__part:nth-of-type(1) .form__row--name,
.form__part:nth-of-type(1) .form__row--address {
    grid-column: 3/7;
  }
  .form__part:nth-of-type(1) .form__row--phone {
    grid-column: 1/4;
  }
  .form__part:nth-of-type(1) .form__row--email {
    grid-column: 4/7;
  }
  .form__part:nth-of-type(3) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
  }
  .form__part:nth-of-type(3) .form__title {
    grid-column: 1/7;
  }
  .form__part:nth-of-type(3) .form__row--payname,
.form__part:nth-of-type(3) .form__row--paycard {
    grid-column: 1/5;
  }
  .form__part:nth-of-type(3) .form__row--payexp {
    grid-column: 1/4;
  }
  .form__part:nth-of-type(3) .form__row--paycode {
    grid-column: 4/7;
  }
  .form__part.d-none {
    display: none;
  }
}
.form__btn {
  position: absolute;
  bottom: -532px;
  /* button height + cart height */
  /* pt + button height + pb */
  height: 110px;
  width: 100%;
  border-top: 1px solid var(--divider);
  padding: 24px 0 40px;
  display: flex;
  justify-content: space-between;
}
.form__btn button {
  height: 46px;
  width: 156px;
  border-radius: 8px;
  font-size: 14px;
}
.form__btn button:hover {
  opacity: 0.9;
  font-weight: 700;
}
.form__btn .form__btn--previous {
  color: var(--btn-previous);
  text-align: left;
}
.form__btn .form__btn--previous span {
  margin-right: 12.5px;
}
.form__btn .form__btn--previous[disabled] {
  display: none;
}
.form__btn .form__btn--next {
  color: var(--btn-next);
  background: var(--btn-next-bg);
}
.form__btn .form__btn--next span {
  margin-left: 13.5px;
}
.form__btn .form__btn--next.first-step {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form__btn {
    position: initial;
    border-top: 2px solid var(--divider);
  }
  .form__btn button {
    width: 174px;
  }
  .form__btn .form__btn--next.first-step {
    width: 174px;
    position: absolute;
    right: 0;
  }
}
.cart {
  background: var(--cart-bg);
  border: 1px solid var(--cart-outline);
  border-radius: 8px;
  padding: 0 16px;
}
.cart .cart__title {
  display: none;
}
.cart .cart__items {
  margin-top: 18px;
  max-height: 237px;
  /* 2*(100px+18px) + 1 */
  overflow-y: scroll;
  border-bottom: 1px solid var(--cart-outline);
}
.cart .cart__shipping,
.cart .cart__sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}
.cart .cart__shipping :nth-child(1),
.cart .cart__sum :nth-child(1) {
  color: var(--cart-text-light);
}
.cart .cart__shipping :nth-child(2),
.cart .cart__sum :nth-child(2) {
  color: var(--cart-text-bold);
  font-weight: bold;
}
.cart .cart__shipping {
  border-bottom: 1px solid var(--cart-outline);
}

.cart__item {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 18px;
}
.cart__item img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
.cart__item .item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.cart__item .item__info .item__detail {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.cart__item .item__info .item__detail .item__name {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: var(--cart-text-light);
  margin-bottom: 18px;
}
.cart__item .item__info .item__detail .item__quantity {
  display: flex;
  justify-content: space-between;
  width: 116px;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
}
.cart__item .item__info .item__detail .item__quantity--number {
  color: var(--cart-btn-color);
}
.cart__item .item__info .item__detail .item__quantity--btn {
  width: 26px;
  height: 27px;
  border-radius: 50%;
  background: var(--cart-btn-bg);
  text-align: center;
  font-weight: 700;
}
.cart__item .item__info .item__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: var(--cart-text-bold);
}

@media screen and (min-width: 768px) {
  .cart {
    padding: 32px 24px;
    height: 492px;
  }
  .cart .cart__title {
    display: initial;
  }
  .cart .cart__items {
    margin-top: 34px;
    max-height: 265px;
    /* 2*(100px+32px) + 1 */
  }
  .cart .cart__items .cart__item {
    margin-bottom: 32px;
  }
  .cart .cart__shipping,
.cart .cart__sum {
    height: 68px;
  }
}
@media screen and (min-width: 1024px) {
  .cart__item .item__info {
    width: calc(100% - 100px - 21px);
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .cart__item .item__info .item__detail {
    align-items: start;
  }
}
footer {
  height: 284px;
  background: var(--footer-bg);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.75vw;
  height: 100%;
}
footer .container .footer__brand {
  display: block;
  width: 175.49px;
  height: 31px;
  background: var(--img-logo);
  background-size: contain;
  grid-column: 1/4;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
footer .container .footer__content {
  grid-column: 4/13;
  display: flex;
  margin-top: 64px;
}
footer .container .footer__content div {
  width: 25%;
}
footer .container .footer__content div .footer__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  color: var(--footer-color);
}
footer .container .footer__content div .footer__items .footer__link {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
}
footer .container .footer__content div .footer__items .footer__link--phone {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
footer .container .footer__content div .footer__items .footer__item {
  width: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .container .footer__content div .footer__items .footer__item .footer__icon--fb {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--social-fb);
  background-size: contain;
}
footer .container .footer__content div .footer__items .footer__item .footer__icon--ig {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--social-ig);
  background-size: contain;
}
footer .container .footer__content div .footer__items .footer__item .footer__icon--wa {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--social-wa);
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
