/* ===== general ===== */
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: var(--body-color);
  background: var(--body-bg);
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: Bold;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: Bold;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: Bold;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

/* ===== SASS ===== */
%position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin img-setting($w, $h, $bg) {
  display: block;
  width: $w;
  height: $h;
  background: $bg;
  background-size: contain;
}

@mixin icon-setting($icon) {
  display: block;
  width: 24px;
  height: 24px;
  background: $icon;
  background-size: contain;
}

@mixin getStepNum($num) {
  @for $i from 1 through $num { 
    &:nth-of-type(#{$i}) .step__circle::after {
      content: "#{$i}";
    }
  }
}

/* ===== scroll bar ===== */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar {
  padding-left: 6px;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* ===== basic settings ===== */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  height: calc(100vh - 56px);
  margin-top: 56px;

  .main__title {
    padding-top: 16px;
    font-size: 24px;
    width: 100%;
  }
  .main__content {
    &__left {
      margin-top: 24px;

      form {
        margin-top: 24px;
        position: relative;
      } 
    }
    &__right {
      margin: 32px 0;
    }
  }
}

footer {
  display: none;
}

/* ===== media query ===== */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    padding: 0;
    max-width: 1110px;
  }

  main {
    height: calc(100vh - 60px);
    margin-top: 60px;

    .main__title {
      padding-top: 80px;
      font-size: 32px;
    }
    .main__content {
      margin-top: 48px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 2vw;

      &__left, &__right {
        margin-top: 0;
        margin-bottom: 0;
      }
      &__left {
        grid-column: 1 / 7;
        
        form {
          margin-top: 64px;
          
          .form__content {
            /* right_content 減 stepper 減 margin-top 減 form_btn */
            height: calc(492px - 24px - 64px - 72px);
          }
        }
      }
      &__right {
        grid-column: 8 / 13;
      }
    }
  }
  
  footer {
    display: block;
  }
}

.d-none {
  display: none;
}