.cart {  
  background: var(--cart-bg);
  border: 1px solid var(--cart-outline);
  border-radius: 8px;
  padding: 0 16px;

  .cart__title {
    display: none;
  }
  .cart__items {
    margin-top: 18px;
    max-height: 237px; /* 2*(100px+18px) + 1 */
    overflow-y: scroll;

    border-bottom: 1px solid var(--cart-outline);
  }
  .cart__shipping,
  .cart__sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;

    :nth-child(1) {
      color: var(--cart-text-light);
    }
    :nth-child(2) {
      color: var(--cart-text-bold);
      font-weight: bold;
    }
  }
  .cart__shipping {
    border-bottom: 1px solid var(--cart-outline);
  }
}

.cart__item {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 18px;

  img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
  }
  .item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    .item__detail {
      display: flex;
      flex-direction: column;
      align-items: end;

      .item__name {
        @extend %text-ellipsis;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        color: var(--cart-text-light);
        margin-bottom: 18px;
      }
      .item__quantity {
        display: flex;
        justify-content: space-between;
        width: 116px;
        height: 26px;
          
        font-size: 14px;
        line-height: 26px;

        &--number {
          font-weight: 700;
        }
        &--btn {
          width: 26px;
          height: 27px;
          border-radius: 50%;
          background: var(--cart-btn-bg);
          color: var(--cart-btn-text);
          text-align: center;
          font-weight: 700;

          cursor: pointer;
          &:hover {
            box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.1);
          }
        }
      }
    }
    .item__price {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: var(--cart-text-bold);
    }
  }
}

@media screen and (min-width: 768px) {
  .cart {
    padding: 32px 24px;
    height: 492px;

    .cart__title {
      display: initial;
    }
    .cart__items {
      margin-top: 34px;
      max-height: 265px; /* 2*(100px+32px) + 1 */

      .cart__item {
        margin-bottom: 32px;
      }
    }

    .cart__shipping,
    .cart__sum {
      height: 68px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .cart__item {
    .item__info {
      width: calc(100% - 100px - 21px);
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      .item__detail {
        align-items: start;
      }
    }
  }
}