:root {
  --body-bg: #FFFFFF;
  --body-color: #2A2A2A;

  --footer-bg: #F6F7F8;
  --footer-color: #808080;

  --nav-bg: rgba(255, 255, 255, 0.97);

  --step-active: #2A2A2A;
  --step-unselected: #AFB1BD;
  --step-checked: #FFFFFF;
  --step-checked-bg: #333333;
  --step-line-active: #000000;
  --step-line-unselected: #F0F0F5;

  --form-input-label: #808080;
  --form-input-content: #999999;
  --form-input-outline: #4A4A4A;
  --form-input-triangle: #2A2A2A;

  --form-shipment-color-main: #000000;
  --form-shipment-color-secondary: #000000;
  --form-shipment-outline: #F0F0F5;
  --form-shipment-btn: #222222;
  --form-shipment-btn-bg: #FFFFFF;
  --form-shipment-checked-btn: #2A2A2A;

  --btn-previous: #000000;
  --btn-next: #FFFFFF;
  --btn-next-bg: #F67599;

  --divider: #E6E6EB;

  --cart-bg: #FFFFFF;
  --cart-outline: #F0F0F5;
  --cart-btn-color: #000000;
  --cart-btn-bg: #F0F0F5;
  --cart-btn-text: #000000;
  --cart-text-light: #2A2A2A;
  --cart-text-bold: #000000;

  --img-logo: url("../../images/logo@3x.png");
  --icon-search: url("../../images/icon-search@3x.png");
  --icon-cart: url("../../images/icon-cart@3x.png");
  --icon-mode: url("../../images/icon-mode@3x.png");
  --hamburger: url("../../images/hamburger@3x.png");
  --social-fb: url("../../images/social-fb@3x.png");
  --social-ig: url("../../images/social-ig@3x.png");
  --social-wa: url("../../images/social-wa@3x.png");
}

[data-theme="dark"] {
  --body-bg: #121212;
  --body-color: #FFFFFF;

  --footer-bg: #333333;
  --footer-color: rgba(255, 255, 255, 0.6);

  --nav-bg: rgba(18, 18, 18, 0.97);

  --step-checked: #FFFFFF;
  --step-checked-bg: #333333;
  --step-unselected: rgba(255, 255, 255, 0.4);
  --step-line: #FFFFFF;

  --step-active: #FFFFFF;
  --step-unselected: rgba(255, 255, 255, 0.4);
  --step-checked: #FFFFFF;
  --step-checked-bg: #333333;
  --step-line-active: #FFFFFF;
  --step-line-unselected: rgba(240, 240, 245, 0.4);

  --form-input-label: rgba(255, 255, 255, 0.4);
  --form-input-content: rgba(255, 255, 255, 0.3);
  --form-input-outline: #5E5E5E;
  --form-input-triangle: #5E5E5E;

  --form-shipment-color-main: #FFFFFF;
  --form-shipment-color-secondary: rgba(255, 255, 255, 0.4);
  --form-shipment-outline: #5E5E5E;
  --form-shipment-btn: #333333;
  --form-shipment-btn-bg: #333333;
  --form-shipment-checked-btn: #333333;

  --btn-previous: #FFFFFF;
  --btn-next: #FFFFFF;
  --btn-next-bg: #F67599;

  --divider: rgba(255, 255, 255, 0.2);

  --cart-bg: #383838;
  --cart-outline: rgba(255, 255, 255, 0.2);
  --cart-btn-color: #333333;
  --cart-btn-bg: #808080;
  --cart-btn-text: #333333;
  --cart-text-light: #FFFFFF;
  --cart-text-bold: #FFFFFF;

  --img-logo: url("../../images/d-logo@3x.png");
  --icon-search: url("../../images/d-icon-search@3x.png");
  --icon-cart: url("../../images/d-icon-cart@3x.png");
  --icon-mode: url("../../images/d-icon-mode@3x.png");
  --hamburger: url("../../images/d-hamburger@3x.png");
  --social-fb: url("../../images/d-social-fb@3x.png");
  --social-ig: url("../../images/d-social-ig@3x.png");
  --social-wa: url("../../images/d-social-wa@3x.png");
}